.containerTasks {
    padding-top: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 1440px) {
    .containerTasks {
        max-width: 90vw;
        padding: 0;
    }

    .CreatedTasksCards {
        max-width: 90vw;
    }
}

@media only screen and (max-width: 1440px) {
    .containerTasks > * {
        max-width: 90vw;
        padding: 0;
        
    }
}


.containerCreatedTasksCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
}

.CreatedTasksCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: center;
    padding: 1rem;
    display: flex;
    gap: 0.75rem;
    border-radius: 0.8rem;
    background-color: var(--gray-500);
    color: var(--gray-100);
    text-align: justify;
    width: 46rem;
}

.notCheckedTask {
    color: var(--blue);
}

.notCheckedTask:hover {
    cursor: pointer;
    color: var(--blue-dark);
}

.checkedTask {
    color: var(--purple);
}

.checkedTask:hover {
    color: var(--purple-dark);
    cursor: pointer;
}

.descriptionTasks{
    text-decoration: none;
    overflow: hidden;
    word-wrap: break-word;
}

.descriptionTasksCheck{
    color: var(--gray-300);
    text-decoration: line-through;
    overflow: hidden;
    word-wrap: break-word;
}

.deleteTasksIcon:hover {
    cursor: pointer;
    color: var(--danger);
}

.emptyTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}