.HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    height: 12.5rem;
    background: var(--gray-700);
}

@media only screen and (max-width: 1440px) {
    .HeaderContainer {
        min-width: 100vw;
        padding: 0;
    }
}

.LogoHeader {
    width: 7.875rem;
    height: 3rem;
}