.TasksContainer {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
    width: 46rem;
    min-height: 17.9375rem;

    gap: 1.5rem 0rem;
    margin-top: 4rem;
}

@media only screen and (max-width: 1440px) {
    .TasksContainer {
        max-width: 90vw;
        padding: 0;
    }
}

@media only screen and (max-width: 1440px) {
    .TasksContainer > * {
        max-width: 90vw;
        padding: 0;
    }
}

.TasksCount {
    display: flex;
    justify-content: space-between;
    color: var(--blue);
    font-weight: bold;

}

.TasksCount > p > span {
    padding: 0.125rem 0.5rem;
    border-radius: 62.4375rem;
    color: var(--gray-200);
    margin: 0rem 0.5rem;
    background: var(--gray-400);
}

.TasksCountTextPurple {
    color: var(--purple);
}

.TasksArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--gray-300);
    min-height: 15.25rem;
    padding: 0px 1.5rem;

    border-top: 1px solid var(--gray-400);
    border-radius: 0.5rem;
}


.TasksAreaText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}